<center>
    <p>Hello, world!</p>
    <p>Check <a href="https://support.monday.com/hc/en-us/articles/360002197259-How-to-open-the-developer-console" target="_blank">JavaScript Dev Console</a> to see if WebPack is working. You should see:</p>
    <pre>
        Hello from app/javascript/packs/custom1.js file!
        Hello from app/javascript/packs/custom2.js.erb file!
    </pre>
</center>
