<center>
    <p>Hello, world!</p>
    <p>Check JavaScript Dev Console to see if WebPack is working. You should see:</p>
    <pre>
        Hello from app/javascript/packs/custom1.js file!
        Hello from app/javascript/packs/custom2.js.erb file!
    </pre>
</center>
